#contato {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  height: 110vh;
  gap: 30px;
}
#contato h3 {
  font-size: 3rem;
  color: yellow;
}
#contato p {
  font-size: 2rem;
  text-align: center;
  align-items: center;
  color: white;
}
#contato div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 50%;
  max-width: 1200px;
}
label {
  display: block;
  align-items: flex-start;
  margin-bottom: 5px;
  font-size: 2.5rem; /* Tamanho da fonte */
  color: yellow; /* Cor do texto */
}
input,
textarea {
  width: 100%;
  min-width: 50%;
  padding: 12px;
  margin-bottom: 20px;
}

form button {
  background-color: yellow;
  color: black;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(188, 0, 213);
}

@media screen and (max-width: 1090px) {
  #contato h2 {
    font-size: 2.5rem;
  }
  #contato p {
    font-size: 1.2rem;
  }
  form {
    width: 80%;
  }
}
